{% extends "base.html" %}
{% block title %} Skills {% endblock %}

{% block body %}

<div>
    <h1>skills</h1>
</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Name</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
            {% for skill in skills %}
            <tr>
                <td>{{ loop.index }}</td>
                <td> {{skill["Name"]}}</td>
                <td><div>
                    {{skill['Level']}}
                  </div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <h5>All Skills: {{ skills|length }}</h5>
</div>


{% endblock %}
